
@{
    ViewBag.Title = "Refuse";
}

<link href="~/Styles/Order/refuse.css" rel="stylesheet"/>

@using (Html.BeginForm())
{
    <p>Leave comment or not</p>
    <textarea name="comment"></textarea>
    <input type="hidden" name="id" value="@ViewBag.OrderID"/><br />
    <input type="submit" />
}

