@model IEnumerable<CarBooking.DAL.Entities.User>

@{
    ViewBag.Title = "Managers";
}

<div class="container-fluid">
    @Html.ActionLink("Create", "CreateManager", null, new { @class = "btn btn-primary big-margin" })
    @{
        var users = Model as List<CarBooking.DAL.Entities.User>;
        var count = users.Count() / 4;
        count += users.Count % 4 != 0 ? 1 : 0;
        for (int counter = 0, index = 0; counter < count; counter++)
        {
            <div class="row">
                @for (var limit = index + 4; index < limit && index < users.Count(); index++)
                {
                    <div class="col-lg-3">
                        <div class="item-wrapper">
                            <p>Login: @users[index].Login</p>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>