form{
    padding-top: 20px;
}

form input[type="text"]{
    max-width: 100%;
    width: 75%;
}

form input[type="submit"]{
    margin-left: 75%;
}

.checkbox{
    display: none;
}

.checkbox-label{
    font-size: 25px;
}

.checkbox-wrapper {
    text-align: center;
    width: 100%;
}
    .checkbox-wrapper:hover, .checkbox-active {
        box-shadow: 0 0 5px gray;
    }

img{
    width: 450px;
    height: 200px;
}

#arrows-wrapper{
    min-width: 100px;
}