.orders-contaner{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.ord-wrapper {
    width: calc(100% / 3);
    padding: 20px;
    box-sizing: border-box;
}

.ord-wrapper a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.ord-wrapper a:hover, .ord-wrapper a:focus{
    box-shadow: 0 0 10px black;
}