
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

@using (Html.BeginForm())
{
    <label>Login:</label><br />
    <input type="text" name="login"/><br />
    <label>Password:</label><br />
    <input type="text" name="password"/><br />
    <input type="submit" />
}

